@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 25px;
    color: red;
    text-decoration: none;
    font-weight: 600;
}
nav a {
    font-size: 25px;
    color: black;
    text-decoration: none;
    text-align: 500;
    margin-left: 35px;
    transition: .2s;
}

nav a:hover,
nav a.active {
    color:red;
}

section {
    min-height: 230vh;
    display: flex;
    justify-content: start;
    align-items: start;
    background: violet;
    font-size: 15px;
    color: black;
    font-weight: 88;
}

section:nth-last-child(odd) {
    background: pink;
}
